.character {
  width: 80px
  height: 80px
  display: block
  position: absolute
  background-repeat: no-repeat
  background-image: url("../assets/images/character_walk.png")
  
  &.sword {
    background-image: url("../assets/images/character_walk_sword.png")
  }
  
  &.down {
    background-position: -0px -0px
    
    &.walk1, {background-position: -0px -0px}
    &.walk10 {background-position: -80px -0px}
    &.walk11 {background-position: -160px -0px}
    &.walk12 {background-position: -240px -0px}
    &.walk13 {background-position: -320px -0px}
    &.walk14 {background-position: -400px -0px}
    &.walk15 {background-position: -480px -0px}
    &.walk16 {background-position: -560px -0px}
    &.walk2 {background-position: -640px -0px}
    &.walk3 {background-position: -720px -0px}
    &.walk4 {background-position: -800px -0px}
    &.walk5 {background-position: -880px -0px}
    &.walk6 {background-position: -960px -0px}
    &.walk7 {background-position: -1040px -0px}
    &.walk8 {background-position: -1120px -0px}
    &.walk9 {background-position: -1200px -0px}
  }
  
  &.up {
    background-position: -0px -240px
    
    &.walk1 {background-position: -0px -240px}
    &.walk10 {background-position: -80px -240px}
    &.walk11 {background-position: -160px -240px}
    &.walk12 {background-position: -240px -240px}
    &.walk13 {background-position: -320px -240px}
    &.walk14 {background-position: -400px -240px}
    &.walk15 {background-position: -480px -240px}
    &.walk16 {background-position: -560px -240px}
    &.walk2 {background-position: -640px -240px}
    &.walk3 {background-position: -720px -240px}
    &.walk4 {background-position: -800px -240px}
    &.walk5 {background-position: -880px -240px}
    &.walk6 {background-position: -960px -240px}
    &.walk7 {background-position: -1040px -240px}
    &.walk8 {background-position: -1120px -240px}
    &.walk9 {background-position: -1200px -240px}
  }
  
  &.left {
    background-position: -0px -80px
    
    &.walk1 {background-position: -0px -80px}
    &.walk10 {background-position: -80px -80px}
    &.walk11 {background-position: -160px -80px}
    &.walk12 {background-position: -240px -80px}
    &.walk13 {background-position: -320px -80px}
    &.walk14 {background-position: -400px -80px}
    &.walk15 {background-position: -480px -80px}
    &.walk16 {background-position: -560px -80px}
    &.walk2 {background-position: -640px -80px}
    &.walk3 {background-position: -720px -80px}
    &.walk4 {background-position: -800px -80px}
    &.walk5 {background-position: -880px -80px}
    &.walk6 {background-position: -960px -80px}
    &.walk7 {background-position: -1040px -80px}
    &.walk8 {background-position: -1120px -80px}
    &.walk9 {background-position: -1200px -80px}
  }
  
  &.right {
    background-position: -0px -160px
    
    &.walk1 {background-position: -0px -160px}
    &.walk10 {background-position: -80px -160px}
    &.walk11 {background-position: -160px -160px}
    &.walk12 {background-position: -240px -160px}
    &.walk13 {background-position: -320px -160px}
    &.walk14 {background-position: -400px -160px}
    &.walk15 {background-position: -480px -160px}
    &.walk16 {background-position: -560px -160px}
    &.walk2 {background-position: -640px -160px}
    &.walk3 {background-position: -720px -160px}
    &.walk4 {background-position: -800px -160px}
    &.walk5 {background-position: -880px -160px}
    &.walk6 {background-position: -960px -160px}
    &.walk7 {background-position: -1040px -160px}
    &.walk8 {background-position: -1120px -160px}
    &.walk9 {background-position: -1200px -160px}
  }
}
