.character {
  width: 80px
  height: 80px
  display: block
  position: absolute
  background-repeat: no-repeat
  background-image: url("../assets/images/character_walk.png")
  
  &.sword {
    background-image: url("../assets/images/character_walk_sword.png")
  }
  
  &.walk_down1, &.down {background-position: -0px -0px}
  &.walk_down10 {background-position: -80px -0px}
  &.walk_down11 {background-position: -160px -0px}
  &.walk_down12 {background-position: -240px -0px}
  &.walk_down13 {background-position: -320px -0px}
  &.walk_down14 {background-position: -400px -0px}
  &.walk_down15 {background-position: -480px -0px}
  &.walk_down16 {background-position: -560px -0px}
  &.walk_down2 {background-position: -640px -0px}
  &.walk_down3 {background-position: -720px -0px}
  &.walk_down4 {background-position: -800px -0px}
  &.walk_down5 {background-position: -880px -0px}
  &.walk_down6 {background-position: -960px -0px}
  &.walk_down7 {background-position: -1040px -0px}
  &.walk_down8 {background-position: -1120px -0px}
  &.walk_down9 {background-position: -1200px -0px}
  &.walk_left1, &.left {background-position: -0px -80px}
  &.walk_left10 {background-position: -80px -80px}
  &.walk_left11 {background-position: -160px -80px}
  &.walk_left12 {background-position: -240px -80px}
  &.walk_left13 {background-position: -320px -80px}
  &.walk_left14 {background-position: -400px -80px}
  &.walk_left15 {background-position: -480px -80px}
  &.walk_left16 {background-position: -560px -80px}
  &.walk_left2 {background-position: -640px -80px}
  &.walk_left3 {background-position: -720px -80px}
  &.walk_left4 {background-position: -800px -80px}
  &.walk_left5 {background-position: -880px -80px}
  &.walk_left6 {background-position: -960px -80px}
  &.walk_left7 {background-position: -1040px -80px}
  &.walk_left8 {background-position: -1120px -80px}
  &.walk_left9 {background-position: -1200px -80px}
  &.walk_right1, &.right {background-position: -0px -160px}
  &.walk_right10 {background-position: -80px -160px}
  &.walk_right11 {background-position: -160px -160px}
  &.walk_right12 {background-position: -240px -160px}
  &.walk_right13 {background-position: -320px -160px}
  &.walk_right14 {background-position: -400px -160px}
  &.walk_right15 {background-position: -480px -160px}
  &.walk_right16 {background-position: -560px -160px}
  &.walk_right2 {background-position: -640px -160px}
  &.walk_right3 {background-position: -720px -160px}
  &.walk_right4 {background-position: -800px -160px}
  &.walk_right5 {background-position: -880px -160px}
  &.walk_right6 {background-position: -960px -160px}
  &.walk_right7 {background-position: -1040px -160px}
  &.walk_right8 {background-position: -1120px -160px}
  &.walk_right9 {background-position: -1200px -160px}
  &.walk_up1, &.up {background-position: -0px -240px}
  &.walk_up10 {background-position: -80px -240px}
  &.walk_up11 {background-position: -160px -240px}
  &.walk_up12 {background-position: -240px -240px}
  &.walk_up13 {background-position: -320px -240px}
  &.walk_up14 {background-position: -400px -240px}
  &.walk_up15 {background-position: -480px -240px}
  &.walk_up16 {background-position: -560px -240px}
  &.walk_up2 {background-position: -640px -240px}
  &.walk_up3 {background-position: -720px -240px}
  &.walk_up4 {background-position: -800px -240px}
  &.walk_up5 {background-position: -880px -240px}
  &.walk_up6 {background-position: -960px -240px}
  &.walk_up7 {background-position: -1040px -240px}
  &.walk_up8 {background-position: -1120px -240px}
  &.walk_up9 {background-position: -1200px -240px}
}
