#dialog {
  position: absolute
  background-color: #332A69
  font-weight: bold
  width: 250px
  
  .who {
    display: block
    color: #64E366
  }
  
  .what {
    display: block
    color: white
  }
}
