#dialog {
  position: absolute
  background-color: #332A69
  font-weight: bold
  width: 250px
  padding: 8px
  border-radius: 4px
  border: 1px solid #ccc
  box-shadow: 0px 0px 8px #444
  
  .who {
    display: block
    color: #64E366
    padding-bottom: 8px
  }
  
  .what {
    display: block
    color: white
  }
}
