.gameobject
  position: absolute
  
#character {
  width: 80px;
  height: 80px;
  background-color: black;
  position: absolute;
}

.enemy {
  width: 80px;
  height: 80px;
  background-color: red;
  position: absolute;
}

.church {
  position: absolute
  background-image: url("../assets/images/church.png")
  width: 400px
  height: 320px
  background-repeat: no-repeat
}
