#viewport {
  position: absolute
  left: 50%
  width: 960px
  height: 720px
  
  margin-left: -(960px / 2)
  
  overflow: hidden
  user-select: none
}

.scene {
  position: absolute
  width: 100%
  height: 100%
  
  background-repeat: no-repeat
}

#war-1, #war-2 {
  background-image: url("../assets/images/desert.png")
}

#war-2 {
  background-position: -960px 0px
}

#church {
  background-image: url("../assets/images/grass.png")
}

#temple-1, #temple-2 {
  background: url("../assets/images/temple.png")
}

#temple-1 {
  background-position: 0px -720px
}


#family {
  background: url("../assets/images/house.png")
}
