.tile {
  display: block
  width: 80px
  height: 80px
  position: absolute
  background-repeat: no-repeat
  
  &.npc {
    background-image:url("../assets/images/npc.png")    
  }
  
  &.knight {
    &.right {
      background-position: -160px -0px      
    }
      
    &.left {
      background-position: -320px -0px
    }
    
    &.old {
      background-position: -240px -0px
    }
  }
  
  &.brother {
    background-position: -0px -0px
  }
  
  &.child {
    background-position: -80px -0px
  }  
  
  &.wife {
    background-position: -400px -0px
  }
  
  &.grave {
  	background-image:url("../assets/images/grave.png") 
  }
  
  &.road {
  	background-image:url("../assets/images/road.png") 
  }
  
  &.ruin1 {
  	background-image:url("../assets/images/ruin1.png") 
  }
  
  &.ruin2 {
  	background-image:url("../assets/images/ruin2.png") 
  }
  &.ruin3 {
  	background-image:url("../assets/images/ruin3.png") 
  }
  
}
      
  