.tile {
  display: block
  width: 80px
  height: 80px
  position: absolute
  background-repeat: no-repeat
  
  &.npc {
    background-image:url("../assets/images/npc.png")    
  }
  
  &.knight {
    &.right {
      background-position: -160px -0px      
    }
      
    &.left {
      background-position: -320px -0px
    }
    
    &.old {
      background-position: -240px -0px
    }
  }
  
  &.brother {
    background-position: -0px -0px
  }
  
  &.child {
    background-position: -80px -0px
  }  
  
  &.wife {
    background-position: -400px -0px
  }
  
  &.items {
    background-image:url("../assets/images/items.png")
    
    &.arrow.down {background-position: -0px -0px}
    &.arrow.left {background-position: -80px -0px}
    &.arrow.right {background-position: -160px -0px}
    &.arrow.up {background-position: -240px -0px}
    &.bed {background-position: -320px -0px}
    &.chair {background-position: -0px -80px}
    &.dummy {background-position: -80px -80px}
    &.enemy.dead {background-position: -160px -80px}
    &.grave1 {background-position: -240px -80px}
    &.grave2 {background-position: -320px -80px}
    &.gravehill {background-position: -0px -160px}
    &.road {background-position: -80px -160px}
    &.ruin1 {background-position: -160px -160px}
    &.ruin2 {background-position: -240px -160px}
    &.ruin3 {background-position: -320px -160px}
    &.sign {background-position: -0px -240px}
    &.socket {background-position: -80px -240px}
    &.socket.tablecloth {background-position: -160px -240px}
    &.table {background-position: -240px -240px}
    &.tree {background-position: -320px -240px}
  }
  
}
      
  