#tutorial {
  position: absolute
  background-color: #332A69
  font-weight: bold
  width: 250px
  padding: 8px
  border-radius: 4px
  border: 1px solid #ccc
  box-shadow: 0px 0px 8px #444
  bottom: 6px
  left: 6px
  color: white
  line-height: 1.2
}

.key {
  color: black
  background-color: white
  padding: 4px
  border-radius: 2px
  border: 1px solid #ccc
  box-shadow: 0px 0px 8px #444
}
