/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:5e26f8e2670e14f0ac8274c60283ede9:1/1$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(items.png);}

.bed {width:80px; height:80px; background-position: -320px -160px}
.chair {width:80px; height:80px; background-position: -320px -80px}
.dummy {width:80px; height:80px; background-position: -240px -160px}
.grave1 {width:80px; height:80px; background-position: -240px -80px}
.grave2 {width:80px; height:80px; background-position: -320px -0px}
.gravehill {width:80px; height:80px; background-position: -240px -0px}
.road {width:80px; height:80px; background-position: -160px -160px}
.ruin1 {width:80px; height:80px; background-position: -160px -80px}
.ruin2 {width:80px; height:80px; background-position: -160px -0px}
.ruin3 {width:80px; height:80px; background-position: -80px -160px}
.sign {width:80px; height:80px; background-position: -80px -80px}
.socket {width:80px; height:80px; background-position: -80px -0px}
.socket_tablecloth {width:80px; height:80px; background-position: -0px -160px}
.table {width:80px; height:80px; background-position: -0px -80px}
.tree {width:80px; height:80px; background-position: -0px -0px}
