/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:2a78fbeabd3fa60b08aba9e953d1fe1a:1/1$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(npc.png);}

.brother {width:80px; height:80px; background-position: -0px -0px}
.child {width:80px; height:80px; background-position: -80px -0px}
.knight_npc_spear_left {width:80px; height:80px; background-position: -160px -0px}
.knight_npc_spear_right {width:80px; height:80px; background-position: -0px -80px}
.knightnpc_left {width:80px; height:80px; background-position: -80px -80px}
.knightnpc_old {width:80px; height:80px; background-position: -160px -80px}
.knightnpc_right {width:80px; height:80px; background-position: -0px -160px}
.wive {width:80px; height:80px; background-position: -80px -160px}
